<html><body>
    <!-- <p>id: {{obj.id}}</p> -->
    <p>Title: {{obj.title | safe}}</p>
    <p>Delivery Date: {{obj.deliveryDate}}</p>
    <!-- <p>filePath: {{obj.filePath}}</p> -->
    <p>Passage: {{obj.passage}} {{obj.reference}}</p>
    <p>Speaker: {{obj.audio_speaker.name}}</p>
    <p>Event: {{obj.audio_event.event}}</p>
    {% if obj.series != 1 %}
        <p>Series: <a href="search?series={{obj.series}}">{{obj.audio_series.series}}</a></p>
    {% endif %}
    {% if audio_available == 'yes' %}
	<audio controls autoplay><source src="stream?id={{obj.id}}" type="audio/mpeg"></audio>
    {% else %}
	<p>Audio file not available</p>
    {% endif %}
</body></html>
